* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    padding: 0.3rem 0.5rem;
    background-color: dodgerblue;
    border: none;
    border-radius: 20px;
    color: white;
}

.btn:hover {
    background-color: green;

}

.container {
    display: flex;
    align-content: start;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #ececec;
    height: 370px;
    width: 380px;
    margin: 20px auto;
}

input {
    border-radius: 20px;
    border: 1px solid black;
    font-size: small;
    padding: 7px 10px;
    outline: none;
    width: 250px;
}

.input_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(5);
    }

    50% {
        transform: rotate(90deg);
        background-color: red;
    }
    100% {
        transform: rotate(0);
    }
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    height: 50px;
    width: 50px;
}
